/* Fonts */
	@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700');

/* Reset */
	*{
		margin:0;
		padding:0;
	}

/* Variables */
	$blue-color: #17528e;
	$standart-transition: 0.4s;

/* ***Page style*** */
	body{
		font:{
			family:'Exo 2', sans-serif;
			size: 16px;
		}
		text-align: center;
		width: 100%
	}

	h1,h2{
		font:{		
			size: 50px;
		}
	}

	h2{
		color: $blue-color;
		font-weight: 400;
		margin: 0 0 45px 0;
	}

	.wrapper{
		max-width: 1170px;
		width: 100%;
		margin: 0 auto;
		padding: 0 15px;	
	}

	.block{
		padding:115px 0 105px 0;
		p{
			line-height: 35px;
			max-width: 1000px;
			margin: 0 auto;
		}
	}

/* ***Header*** */
	.header{
		background:{
		image: url(../img/bg-header.png);
		size: cover;
		}
		width: 100%;
		height: 100vh;	
		color: #fff;
		text-transform: uppercase;
		a.banner_main_down{
			background:{
			image:url(../img/down-arrow.svg);
			size:contain;
			}
			display: block;
			position: absolute;
	    width: 30px;
	    height: 32px;	    
	    bottom: 20px;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    animation: scroll_down 2s ease-in-out infinite;
		}				
	}

	@keyframes scroll_down{
		0%		{ transform:translate(0,-10px); opacity: 0; }
		50%		{ opacity: 1; }
		100%	{ transform:translate(0,10px); opacity: 0; }
	}

	.banner_main{		
		position: absolute;
		left: 0;
		right: 0;
		top: calc(50% - 300px);
		margin: 0 auto;
		img{
			margin: 0 0 35px 0;
		}
		h1{
			max-width: 727px;
			margin: 0 auto;
			letter-spacing: 0.7px;	
		}
		p{
			max-width: 727px;
			margin: 25px auto 60px;
			line-height: 35px;
		}
		a.banner_main_link{
			color: $blue-color;
			font-size: 20px;
			background-color: #fff;
			border-radius: 25px;
			text-decoration: none;
			padding: 13px;
			border:2px solid #fff;
			font-weight: 700;
			display: block;	
			max-width: 175px;	
			margin: 0 auto;
			&:hover{
				background-color:transparent;
				color:#fff;
			}
			transition:$standart-transition;
		}		
	}	

/* ***About me*** */

	.block_blue{
		background-color:#f7fafe;
	}

/* ***Expert in*** */
	.flexbox{
		display:flex;
		justify-content:space-between;
		margin:95px 0 25px 0;	
	}

	.flexbox_item{
		h3{
			color:$blue-color;
			font-size:24px;
			margin:0 0 15px 0;
		}
	}

	.flexbox_icon{
		width:140px;
		height:140px;
		border:2px solid $blue-color;
		border-radius:100%;
		margin:0 auto 52px;
		position:relative;
		&:hover{
			background-color:$blue-color;
		}
		&::after{
			content:'';
			background:{
				image: url(../img/sprite.png);					
			}
		position:absolute;
		transition:$standart-transition;			
		}	
	}

	.flexbox_icon_app{
		&::after{
			width: 45px;
	    height: 66px;				
			background-position:-5px -4px;
			top: calc(50% - 33px);
			left:0;
			right:0;
			margin:0 auto;			
		}
		&:hover::after{
			background-position:-5px 70px;
		}
	}

	.flexbox_icon_design{
		&::after{
	    width: 71px;
	    height: 58px;
	    background-position: -60px -7px;
			top: calc(50% - 29px);
			left:0;
			right:0;
			margin:0 auto;			
		}
		&:hover::after{
			background-position:-60px 66px;
		}
	}

	.flexbox_icon_web{
		&::after{
			width: 58px;
	    height: 66px;
	    background-position: 61px -3px;
			top: calc(50% - 33px);
			left:0;
			right:0;
			margin:0 auto;			
		}
		&:hover::after{
			background-position:61px 70px;
		}
	}

/* ***Porfolio*** */
	.thumb{
		position:relative;
		overflow:hidden;
		width:360px;
		height:270px;
		border-radius:10px;
		transition:$standart-transition;
		img{
			position:absolute;
			width:100%;
			left:50%;
			top:50%;
			object-fit:cover;
			-webkit-transform:translate(-50%, -50%);
			-ms-transform:translate(-50%, -50%);
			transform:translate(-50%, -50%);
			width:360px;
			height:270px;
			z-index:-1;			
		}
		&:hover{
			background:{
			color:rgba(0,0,0,0.5);
			}			
		}
		&:hover::before{
			content:'';
			background:{
				image:url(../img/eye.svg);
				size:cover;
			}
			width:60px;
			height:48px;
			display:block;
			position:absolute;
			top: calc(50% - 24px);
			left:0;
			right:0;
			margin:0 auto;
		}	
	}

/* ***Footer*** */
	.footer{
		background:{
		image: url(../img/bg-footer.png);
		size: cover;
		}
		margin-top: 190px;
		width: 100%;
		padding:87px 0;
		color: #fff;
		position: relative;
		.footer_flex{
			display:flex;
			justify-content:space-between;
			padding: 0 0 0 30px;		
		}
		h2{
			color:#fff;
			align-self:center;		
		}
		a.footer_link{
			color: $blue-color;
			font:{
				size: 20px;
				weight: 700;
			}
			background-color: #fff;
			border:2px solid #fff;
			border-radius: 25px;		
			text:{
				transform:uppercase;
				decoration: none;
			}
			padding: 13px 58px 13px 58px;	
			display: block;	
			max-width: 175px;	
			margin: 10px auto;
			&:hover{
				background-color:transparent;
				color:#fff;
			}
			transition:$standart-transition;
		}
	}

/* ***Button Up*** */
	.button-up{
		background:{
			image:url(../img/down-arrow.svg);
			size:contain;
			color: $blue-color
			}
			display: none;
	    width: 25px;
	    height: 24px;
	    border: 15px solid $blue-color;
	    border-radius: 100%;
	    transform: rotate(180deg);
	    position: fixed;
	    right: 15px;
	    bottom: 20px;
	}

/* ***Media*** */
	@media (max-height: 768px) {
		h1, h2{
			font-size: 30px;
		}
		body{
			font-size: 14px;
		}
		.banner_main{
			top: calc(50% - 190px); 
			img{
				width: 125px;
				margin: 0 0 15px 0;
			}
			h1{				
				max-width: 540px;
			}
			p{
				max-width: 650px;
				margin: 0 auto 30px;
				line-height: 25px
			}
			.banner_main_link{
				max-width: 140px;
				padding: 7px 0 9px 0;
				font-size: 16px;
			}		
		}
	}

	@media (max-height: 500px) {
		h1, h2{
			font-size: 25px;
		}
		body{
			font-size: 12px;
		}
		.banner_main{
			top: calc(50% - 290px);
			position: inherit;
			margin: 0 auto 30px;
			img{
		  	margin: -20px 0 0px 0;
			}
			.banner_main_link{
				margin-bottom: 50px;
				max-width: 110px;
				padding: 5px 0 7px 0;
				font-size: 14px;
			}
		}
		.banner_main_down{
			position: inherit;
			left: inherit;
			right: inherit;
			bottom: inherit;
			margin: 20px auto;			
		}
		.header{
			height: inherit;
			padding: 30px 0 50px;
		}
	}

	@media (max-width: 1200px) {
		.banner_main{
			h1, p{
				padding: 0 15px;
			}
		}
		.block{
			padding: 60px 15px;
		}
		.flexbox{
			display: inherit;
			margin: 50px 0 25px 0;			
		}
		.flexbox_item{
			margin-bottom: 30px;
			p{
				max-width: 550px;				
			}
		}
		.flexbox_icon{
			margin: 0 auto 30px;
		}		
		.thumb{
			margin: 0 auto;
			max-width: 450px;
			width: 100%;
			img{
				max-width: 450px;
				width: 100%;
			}
		}
		.footer{
			margin-top: 60px;
			padding: 50px 0 50px 0 ;
			width: 100%;
			.wrapper{
				padding: inherit;
			}			
			.footer_flex{
				display: inherit;
				h2{
					margin-bottom: 25px; 
				}
				.footer_link{
					max-width: 200px;
					padding: 14px 0 16px 0;
				}
			}
		}
		.wrapper{
			padding: 0;
		}
	}

	@media (max-width: 500px) {
		h1, h2{
			font-size: 25px;
		}
		body{
			font-size: 12px;
		}
		.thumb{
			display: block;
			max-width: 100%
			img{
				max-width: 100%;
				display: block;
			}
			
		}
	}

	@media (max-width: 500px) {
		.thumb {
			height: 170px;
			img{
				height: 170px;
			}			
		}
		.flexbox_item{
			h3{
				font-size:20px;
			}
		}
		.block{
			p{
				line-height: 30px;
			}
		}
	}














